#hero {
  background-image: url("food_3.jpg");
  background-size: cover;
  background-position: right;
  height: 70vh;
}

#second_section {
  background-image: url("food_1.jpg");
  background-size: cover;
  height: 60vh;
}

#fifth_section {
  background-image: url("food_2.jpg");
  background-size: cover;
  height: 60vh;
}